/* src/styles.css */

.badges-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .badge-item {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px;
    flex: 1;
    max-width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .badge-item img {
    max-width: 100%;
    height: auto;
  }
  